body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(236, 227, 212);
}

a {
  text-decoration: none;
  font-weight: 600;
  color: black;
}

h1,
p,
.recipe-title,
ul {
  margin: 0;
  padding: 0;
}

.title,
.hero,
.recipe-list-container {
  padding: 25px 30px;
}

header,
.recipe-list-container,
footer {
  background-color: orange;
}

main {
  box-shadow: 0px 5px 10px 5px rgb(0, 0, 0);
  width: 70%;
  margin: auto;
}

.hero {
  gap: 1em;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1514986888952-8cd320577b68?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80");
  background-position: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 3em;
  height: 5em;
  margin-right: 30px;
}

.title,
.recipe-title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.title {
  font-size: 40px;
}

.hero-body {
  display: flex;
  align-items: center;
  min-height: 80vh;
}

.hero-body .hero-desc {
  width: 100%;
  /* margin-right: 5em; */
  font-size: 23px;
}

.recipe-list-container {
  min-height: 80vh;
  display: flex;
  justify-content: space-between;
  /* margin: 30px 0; */
  align-items: center;
  font-size: 20px;
}

.recipe-list-container > * {
  width: 40%;
}

.recipe-list li {
  margin: 14px 0 0 0;
}

footer {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  background-color: rgb(222, 146, 6);
  padding: 10px 30px;
  align-items: flex-end;
}

footer img {
  width: 100px;
}
