* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 0;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: black;
}

h1,
p,
.recipe-title {
  margin: 0;
  padding: 0;
}

img {
  width: 40%;
}

.main-title,
.hero,
.recipe-list-container {
  padding: 20px;
}

.main-container {
  background-color: rgb(232, 193, 122);
  box-shadow: 0px 5px 5px 3px rgb(116, 93, 51);
  width: 70%;
  margin: auto;
}

.main-title {
  font-size: 45px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(236, 207, 154);
}

.main-desc {
  margin-right: 5em;
}

.recipe-list-container {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  align-items: center;
}

.recipe-title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.recipe-list {
  width: 40%;
}

footer {
  display: flex;
  justify-content: right;
  padding: 10px;
}
